<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
     <div class="card bgInfo">
      <div class="card-heading bg-info text-center text-white">
        <h2>
          Reactive Form
        </h2>
      </div>
      <div class="card-body">
        <form  [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
          <div class="form-group">
            <label for="fname">First Name <sup class="text-danger">*</sup></label>
            <input type="text" formControlName="fname" id="fname" class="form-control">
            <span class="text-danger" *ngIf="f['fname'].touched && f['fname'].hasError('required')">
              This is required field.
            </span>
            <ng-container *ngIf="f['fname'].dirty">
              <span class="text-danger" *ngIf="f['fname'].hasError('pattern')">
                Please enter valid name.
              </span>
              <span class="text-danger" *ngIf="f['fname'].hasError('minlength')">
                The minimum first Name length should be 
                {{f['fname'].errors?.['minlength'].requiredLength}}
                and actual length is 
                {{f['fname'].errors?.['minlength'].actualLength}}
              </span>
              <span class="text-danger" *ngIf="f['fname'].hasError('maxlength')">
                The maxlength first Name length should be 
                {{f['fname'].errors?.['maxlength'].requiredLength}}
                and actual length is 
                {{f['fname'].errors?.['maxlength'].actualLength}}
              </span>
              <span class="text-danger" *ngIf="f['fname'].hasError('noSpaceError')" >
                {{f['fname'].errors?.['noSpaceError']}}
              </span>
            </ng-container>
          </div>
          <div class="form-group">
            <label for="lname">Last Name <sup class="text-danger">*</sup></label>
            <input type="text" formControlName="lname" id="lname" class="form-control">
            <span class="text-danger" *ngIf="f['lname'].touched && f['lname'].hasError('required')">
              This is required field.
            </span>
            <ng-container *ngIf="f['lname'].dirty">
              <span class="text-danger" *ngIf="f['lname'].hasError('pattern')">
                Please enter valid name.
              </span>
              <span class="text-danger" *ngIf="f['lname'].hasError('minlength')">
                The minimum first Name length should be 
                {{f['lname'].errors?.['minlength'].requiredLength}}
                and actual length is 
                {{f['lname'].errors?.['minlength'].actualLength}}
              </span>
              <span class="text-danger" *ngIf="f['lname'].hasError('maxlength')">
                The maxlength first Name length should be 
                {{f['lname'].errors?.['maxlength'].requiredLength}}
                and actual length is 
                {{f['lname'].errors?.['maxlength'].actualLength}}
              </span>
              <span class="text-danger" *ngIf="f['lname'].hasError('noSpaceError')" >
                {{f['lname'].errors?.['noSpaceError']}}
              </span>
            </ng-container>
          </div>
          <div class="form-group">
            <label for="email">Email<sup class="text-danger">*</sup></label>
            <input type="text" formControlName="email" id="email" class="form-control">
            <span class="text-danger" *ngIf="f['email'].touched && f['email'].hasError('required')">
              This is required field.
            </span>
            <span class="text-danger" *ngIf=" f['email'].dirty && f['email'].hasError('pattern')">
              Please enter valid name.
            </span>
            <span class="text-danger" *ngIf=" f['email'].dirty && f['email'].hasError('noSpaceError')" >
              {{ f['email'].dirty && f['email'].errors?.['noSpaceError']}}
            </span>
            <div class="text-primary" *ngIf="f['email'].pending">
              <div class="spinner-border text-primary mt-2" role="status">
                  <span class="sr-only">Loading...</span>
              </div>
              Email is checking
            </div>
            <span class="text-danger" *ngIf="f['email'].dirty && f['email'].hasError('emailExistErr')">
              {{f['email'].errors?.['emailExistErr']}}
            </span>
            <span class="text-success" *ngIf="f['email'].valid">
              Email id is available
            </span>
          </div>
          <div class="form-group">
            <label for="contact">Contact <sup class="text-danger">*</sup></label>
            <input type="text" formControlName="contact" id="contact" class="form-control">
            <span class="text-danger" *ngIf="f['contact'].touched && f['contact'].hasError('required')">
              This is required field.
            </span>
            <ng-container *ngIf="f['contact'].dirty">
              <span class="text-danger" *ngIf="f['contact'].hasError('pattern')">
                Please enter valid number.
              </span>
              <span class="text-danger" *ngIf="f['contact'].hasError('minlength')">
                The minimum first Name length should be 
                {{f['contact'].errors?.['minlength'].requiredLength}}
                and actual length is 
                {{f['contact'].errors?.['minlength'].actualLength}}
              </span>
              <span class="text-danger" *ngIf="f['contact'].hasError('maxlength')">
                The maxlength first Name length should be 
                {{f['contact'].errors?.['maxlength'].requiredLength}}
                and actual length is 
                {{f['contact'].errors?.['maxlength'].actualLength}}
              </span>
            </ng-container>
          </div>
          <div formArrayName="skills">
            <h3>Add your skils</h3>
            <div class="row mb-4" *ngFor="let skill of skillsFormArray.controls ; let i = index">
              <div class="col-10"> 
                <input type="text" class="form-control" [formControlName]="i">
                
              </div>
              <div class="col-2" *ngIf="i > 0">
                <button type="button" class="btn btn-outline-danger" (click)=onSkillRemove(i)>Remove</button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button type="button" class="btn btn-outline-primary" (click)="onSkillAdd()" [disabled]="skillsFormArray.length >= 5">Add skill</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="empID">Emp Id</label>
            <input type="text" placeholder="R177" formControlName="empID" id="empID" class="form-control">
            <span class="text-danger" *ngIf="f['empID'].touched && f['empID'].hasError('required')">
              This is required field.
            </span>
            <span class="text-danger" *ngIf="f['empID'].dirty && f['empID'].hasError('inValidEmpId')">
             {{f['empID'].errors?.['inValidEmpId']}}
            </span>
          </div>
          <h3>
            Select Gender
          </h3>
          <div class="form-group">
            <label for="male">
              <input type="radio" name="gender" formControlName="gender" value="male" id="male"> Male
            </label>
            <label for="female">
              <input type="radio" name="gender" formControlName="gender" value="female" id="female"> Female
            </label>
          </div>
          <div class="row">
            <div class="col-md-6" formGroupName="currentAdd">
              <h4>Current Address</h4>
              <div class="form-group">
                <select class="form-control" formControlName="country">
                  <option value="">Select Country</option>
                  <option [value]="con.country" *ngFor="let con of countryData">
                    {{con.country}}
                  </option>
                  
                </select>
              </div>
              <div class="form-group">
                <input type="text" formControlName="state" id="state" class="form-control" placeholder="State">
              </div>
              <div class="form-group">
                <input type="text" formControlName="city" id="city" class="form-control" placeholder="City">
              </div>
              <div class="form-group">
                <input type="text" formControlName="zipcode" id="zipcode" class="form-control" placeholder="Zipcode">
              </div>
            </div>
            <div class="col-md-6" formGroupName="permanentAdd">
              <h4>Permant Address</h4>
              <div class="form-group">
                <select class="form-control" formControlName="country">
                  <option value="">Select Country</option>
                  <option [value]="con.country" *ngFor="let con of countryData">
                    {{con.country}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <input type="text" formControlName="state" id="state" class="form-control" placeholder="State">
              </div>
              <div class="form-group">
                <input type="text" formControlName="city" id="city" class="form-control" placeholder="City">
              </div>
              <div class="form-group">
                <input type="text" formControlName="zipcode" id="zipcode" class="form-control" placeholder="Zipcode">
              </div>
            </div>
            <div class="col-12">
              <label for="isAddSame">
                <input type="checkbox" formControlName="isAddSame" id="isAddSame">
                Permant Address is same as Current Address
              </label>
            </div>
          
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password">
            <span class="text-danger" *ngIf="f['password'].touched && f['password'].hasError('required')">
              This is required field.
            </span>
            <span class="text-danger" *ngIf=" f['password'].dirty && f['password'].hasError('pattern')">
              Please enter valid name.
            </span>
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
            <span class="text-danger" *ngIf="f['confirmPassword'].dirty && f['confirmPassword'].hasError('passAndConfErr')">
              {{f['confirmPassword'].errors?.['passAndConfErr']}}
            </span>
          </div>
          <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="!signUpForm.valid">Sign Up</button>
        </form>
      </div>
     </div>
    </div>
  </div>
</div>